.mainTitle {
    margin: 30px auto 0;
    font-size: 30px;
    word-wrap: break-word;
    max-width: 800px;
    text-align: center;
}

.linkBack {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.title {
    margin: 0;
    font-size: 30px;
    word-wrap: break-word;
}

.text {
    margin: 10px 0;
}

.text:last-child {
    margin-bottom: 0;
}

.linkToNews {
    text-decoration: none;
}

.error {
    color: red;
}